# Dependencias de Node.js (si frontend es, por ejemplo, React/Vue/Angular)
/node_modules/
.DS_Store

# React Router -> Build/output
/.react-router/
/dist/
/build/
/out/

# Variables de entorno
/.env

/README_REACT.md

# Archivo de ejemplo sí se debe subir
!/.env.example

# Logs
*.log

# Cobertura de tests
coverage/
.nyc_output/


# Archivos de cache
.cache/